*.zip
*.tar
*.mlmodel
*.hdf5
*.h5
*.jpg
*.png
*.weights
pretrained_models/*
YOLOSQUEEZe/results/*
*.bin
*.gz
*.pth
*.pt
# images
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json

